# Test report  

### Testing performed

Numerous error checking methodologies and checks were implemented and the result are as follows:

## Error Checks For Sign Up Screen
<img src="FinalProductFiles/Images/5.png" alt="image" height="300">

This is the first error check which makes sure that the user name is between 4-16 characters and does not contain any special characters.

<img src="FinalProductFiles/Images/6.png" alt="image" height="300" width="750">

This is the second error check which makes sure the password is between 8-20 characters.

## Age Check
<img src="FinalProductFiles/Images/10.png" alt="image" height="300">

This is the age check which checks if the user is above 18 and has a reasonable age.

## Weight Check
<img src="FinalProductFiles/Images/11.png" alt="image" height="300">

This is the weight check and it checks if the weight is under a certain limit and is reasonable.

## Height Check
<img src="FinalProductFiles/Images/12.png" alt="image" height="300">

This is the height check and it checks if the height is under a certain number.

## Food Item Not Found Check
<img src="FinalProductFiles/Images/31.png" alt="image" height="300">

This is to check if the item the user is searching exists or not, if it exists it is added to their meal and if not this error is presented to the user.

## Report Not Found
<img src="FinalProductFiles/Images/32.png" alt="image" height="300">

This is an error check implemented to catch if the file is not found for the user.

### Auto Test

We did not perform any auto testing as all the testing was done manually. No JUnit tests were performed instead we did:

*-Real People Testing*

*-Debugging*

*-Print Statements*

*-Module Testing*

After several hours and attempt to break the application, we were sucessfully able to get a flawless application, totally bug-free!